# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS generated
.DS_Store

# User configurations
config/auth.py
config/personal.py

# Local logs and output excels
logs/
all excels/
*.log
*.csv
